#title {
  background-color: #ff4c68;
  color: #fff;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
}

h1 {
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
  width: 120%;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.navbar-brand {
  color: #fff !important;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 40px 0;
}

.nav-item {
  font-size: 1.2rem;
  padding: 0 0 0 36px;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.btn {
  margin: 60px 15px 0 0;
}

.dog-pic {
  transform: rotate(30deg);
  width: 60%;
  margin: 50px 0 0 90px;
  position: absolute;
}

.left-side {
  margin-top: 50px;
}

#features {
  padding: 10% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.features-div {
  text-align: center;
}

.features-icon {
  color: #ef8172;
  padding-bottom: 15px;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-div h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
}

.features-div p {
  color: #8f8f8f;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

#pricing {
  padding: 3% 4%;
  text-align: center;
}

.price-div {
  margin: 100px 0;
}

@media (max-width:1028px) {
  .dog-pic {
    position: static;
    transform: rotate(0);
  }

  .left-side button {
    margin-left: 80px;
  }

  #title {
    text-align: center;
  }
}

#cta {
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
}

#cta h3 {
  font-size: 3rem;
  color: #fff;
  line-height: 1.5;
  font-family: "Montserrat";
  font-weight: 900;
}

#footer {
  padding: 3% 15%;
  text-align: center;
  background-color: #fff;
}

#footer p {
  padding-top: 50px;
  color: #8f8f8f;
}

#footer i {
  margin: 10px 13px 0;
}
